<ion-view view-title="Reset you password">
    <ion-header-bar>
        <h1 class="title">Reset you password</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <label class="item item-input">
                <input type="password" ng-model="prc.user.password" placeholder="New Password" required>
            </label>
        </ion-list>

        <button class="button button-block button-positive" ng-click="prc.doReset(prc.user)">Send</button>
    </ion-content>
</ion-view>