# ignore "excess" files and directories
# in essence, ignore everything but *.xdk file and www and docs directories
/*
!/www
!/docs
!/config.xml
!/*.md
!/intelxdk.*.xml
!/*.xdk*
!/.gitignore
!/*.png
!/plugins
!/scss
!/hooks
!/server
!/bower.json
!/package.json
!/*.js
!/ionic.project
!/.env
